body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global styles and helper classes */
.text-upper {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bolder;
}
.display-inline-block {
  display: inline-block;
}
.display-flex {
  display: flex;
}
.no-break {
  white-space: nowrap;
}
